

    {{#each tasks}}

    <table class="table table-bordered table-hover table-dark shadow">
  <thead>
    <tr>
      <th>N</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>
          {{#if done}}
            <a href="/toggleDone/{{_id}}" class="btn btn-info">Undone</a>
          {{else}}
            <a href="/toggleDone/{{_id}}" class="btn btn-success">Done</a>
          {{/if}}
          <a href="/delete/{{_id}}" class="btn btn-danger">Delete</a>
          <a href="/edit/{{_id}}" class="btn btn-warning">Update</a>
        </td>
      </tr>

      {{else}}

      <div class="text-center text-white">
        <h1>No Tasks yet 😭</h1>
        <h3> ⬅️ You can create one right at my left 🤙</h3>
        <div class="h-100 d-flex align-items-center justify-content-center">
          <img src="icons/empty.svg" class="w-75">
        </div>
      </div>

    {{/each}}
  </tbody>
</table>